@{ if (Has_submenu)
    {
        <li class="nav-item has-submenu">
            <NavLink class="nav-link submenu-toggle" href="@Nav_link" data-toggle="collapse" data-target="@($"#submenu-{Submenu_number}")" aria-expanded="false" aria-controls="@($"submenu-{Submenu_number}")">
                <span class="nav-icon">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="@ImgClass" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        @if (ParamD != null)
                        {
                            @foreach (var item in ParamD)
                            {
                                <path fill-rule="evenodd" d="@item.Name" />
                            }
                        }
                    </svg>
                </span>
                <span class="nav-link-text">@Nav_link_text</span>
                <span class="submenu-arrow">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                    </svg>
                </span><!--//submenu-arrow-->
            </NavLink><!--//nav-link-->
            @if (SubMenus != null)
            {
                <div id="@($"submenu-{Submenu_number}")" class="collapse submenu @($"submenu-{Submenu_number}")" data-parent="#menu-accordion">
                    <ul class="submenu-list list-unstyled">
                        @foreach (var item in SubMenus)
                        {
                            <li class="submenu-item"><NavLink class="submenu-link" href="@item.Link">@item.Name</NavLink></li>
                        }
                    </ul>
                </div>
            }
        </li><!--//nav-item-->
    }
    else
    {
        <li class="nav-item">
            <NavLink class="nav-link active" href="@Nav_link">
                <span class="nav-icon">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="@ImgClass" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        @if (ParamD != null)
                        {
                            @foreach (var item in ParamD)
                            {
                                <path fill-rule="evenodd" d="@item.Name" />
                            }
                        }
                    </svg>
                </span>
                <span class="nav-link-text">@Nav_link_text</span>
            </NavLink><!--//nav-link-->
        </li><!--//nav-item-->
    }
}

@code {
    [Parameter]
    public bool Has_submenu { get; set; } = false;
    [Parameter]
    public string Nav_link_text { get; set; }
    [Parameter]
    public string Nav_link { get; set; } = "#";
    [Parameter]
    public int Submenu_number { get; set; }
    [Parameter]
    public List<SubMenu> SubMenus { get; set; } = null;
    [Parameter]
    public string ImgClass { get; set; } = "bi bi-house-door";
    [Parameter]
    public List<SubMenu> ParamD { get; set; } = null;
}
